<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/agenda']">
        <mat-icon>note</mat-icon>
        <span>Agendar Task</span>
      </button>
      <button mat-menu-item [routerLink]="['/tasks']">>
        <mat-icon>list</mat-icon>
        <span>Listar Tasks</span>
      </button>
    </mat-menu>



    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="openDialog()">
      <mat-icon>add_task</mat-icon>Adicionar tarefa
    </button>
  </mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
