<mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Meu dia
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-agenda-task [tasks]="tarefasParaHoje"></app-agenda-task>

      <!-- <p *ngFor="let tarefa of tarefas"> {{ tarefa.title }}</p> -->

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Amanhã
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-agenda-task [tasks]="tarefasParaAmanha"></app-agenda-task>

      <!-- //<p *ngFor="let tarefa of tarefas"> {{ tarefa.title }}</p> -->

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Próximos Dias
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-agenda-task [tasks]="tarefasParaOsProximosDias" [exibirData]="true"></app-agenda-task>

      <!-- //<p *ngFor="let tarefa of tarefas"> {{ tarefa.title }}</p> -->

    </mat-expansion-panel>

  </mat-accordion>
